.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background: #131314;
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #caccce;
}

.main .nav img {
    width: 40px;
    border-radius: 100%;
}

.main .nav button {
    border-radius: 25%;
    padding: 10px;
    background: transparent;
    border: 2px solid rgb(3, 21, 40);
    color: rgb(3, 21, 40);
}

.main-container {
    max-width: 900px;
    margin: auto;
}

.main .greet {
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.main .card {
    height: 200px;
    padding: 15px;
    background-color: #1e1f20;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    filter: invert(100%) sepia(2%) saturate(1378%) hue-rotate(207deg) brightness(111%) contrast(78%);
}

.main .card p {
    color: #e3e3e3;
    font-size: 17px;
}

.main .card:hover {
    background-color: #d0dcd424;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background-color: #1e1f20;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img {
    width: 24px;
    cursor: pointer;
    filter: invert(100%) sepia(2%) saturate(1378%) hue-rotate(207deg) brightness(111%) contrast(78%);
}

.search-box input {
    flex: 1;
    background: #1e1f20;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
    color: #e3e3e3;
}

.search-box input::placeholder{
   color: #e3e3e3;
}

/* .search-box {
   color: #e3e3e3;
} */

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.result {
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar {
    display: none;
}

.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #e3e3e3;
}

.result img {
    width: 40px;
    border-radius: 50%;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border-radius: 4px;
    background: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px, 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0% {
        background-position: -800px 0px;
    }

    100% {
        background-position: 800px 0px;
    }
}

.result-data p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    color: #e3e3e3;;
}

@media (max-width:600px) {
    .main-bottom input {
        flex: none;
        width: 150px;
    }

    .main-bottom img {
        width: 20px;
    }

    .search-box {
        padding: 5px 10px;
    }

    .search-box div {
        gap: 5px;
    }
}